<nav class="navbar navbar-default navbar-fixed-top navbar-shrink">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header page-scroll">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand page-scroll" href="/">Slaglica TV</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li class="hidden active">
          <a href="#page-top"></a>
        </li>
        <li class="">
          <a class="page-scroll" href="/">Početna</a>
        </li>
        <li class="">
          <a class="page-scroll" *ngIf="!is_loggedin" href="/login">Uloguj se</a>
        </li>
        <li class="">
          <a class="page-scroll" *ngIf="!is_loggedin" href="/register">Registracija</a>
        </li>
        <li class="">
          <a class="page-scroll" *ngIf="is_loggedin" href="/management">Menadžment</a>
        </li>
        <li class="">
          <a class="page-scroll" *ngIf="is_loggedin" href="/profile">Profil</a>
        </li>
        <li class="">
          <a class="page-scroll" *ngIf="is_loggedin" href="/game">Igre</a>
        </li>
        <li class="">
          <a class="page-scroll" *ngIf="is_loggedin" href="#" (click)="logout()">Izloguj se</a>
        </li>
      </ul>
    </div>

    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>
<div class="section">
  <!-- Heading -->
  <div class="row text-center">
    <div class="container">
      <h2 class="section-heading">Slagalica</h2>
    </div>
  </div>
  <!-- Heading -->

  <div class="panel panel-info">
    <div class="panel-body">
      <div class="description-box">
        <div class="col-sm-12">
          <div class="col-sm-1">
            <input type="button" class="task-tile" value="{{jigsaw.first}}" (click)="onJigsaw1()"
              [disabled]="!is_first">
          </div>
          <div class="col-sm-1">
            <input type="button" class="task-tile" value="{{jigsaw.second}}" (click)="onJigsaw2()"
              [disabled]="!is_second">
          </div>
          <div class="col-sm-1">
            <input type="button" class="task-tile" value="{{jigsaw.third}}" (click)="onJigsaw3()"
              [disabled]="!is_third">
          </div>
          <div class="col-sm-1">
            <input type="button" class="task-tile" value="{{jigsaw.fourth}}" (click)="onJigsaw4()"
              [disabled]="!is_fourth">
          </div>
          <div class="col-sm-1">
            <input type="button" class="task-tile" value="{{jigsaw.fifth}}" (click)="onJigsaw5()"
              [disabled]="!is_fifth">
          </div>
          <div class="col-sm-1">
            <input type="button" class="task-tile" value="{{jigsaw.sixth}}" (click)="onJigsaw6()"
              [disabled]="!is_sixth">
          </div>
          <div class="col-sm-1">
            <input type="button" class="task-tile" value="{{jigsaw.seventh}}" (click)="onJigsaw7()"
              [disabled]="!is_seventh">
          </div>
          <div class="col-sm-1">
            <input type="button" class="task-tile" value="{{jigsaw.eighth}}" (click)="onJigsaw8()"
              [disabled]="!is_eighth">
          </div>
          <div class="col-sm-1">
            <input type="button" class="task-tile" value="{{jigsaw.ninth}}" (click)="onJigsaw9()"
              [disabled]="!is_ninth">
          </div>
          <div class="col-sm-1">
            <input type="button" class="task-tile" value="{{jigsaw.tenth}}" (click)="onJigsaw10()"
              [disabled]="!is_tenth">
          </div>
          <div class="col-sm-1">
            <input type="button" class="task-tile" value="{{jigsaw.eleventh}}" (click)="onJigsaw11()"
              [disabled]="!is_eleventh">
          </div>
          <div class="col-sm-1">
            <input type="button" class="task-tile" value="{{jigsaw.twelveth}}" (click)="onJigsaw12()"
            [disabled]="!is_twelveth">
          </div>
        </div>
      </div>
      <div class="play-box">
        <div class="answer-section">
          <label>Vaša reč:</label>
          <div class="input-section">
            <input class="answer_puzzle" [(ngModel)]="jigsaw_answer" readonly>
            <input type="button" class="btn btn-danger" (click)="onDeleteWords()"
              [disabled]="!jigsaw_started" value="Obriši unos">
          </div>
        </div>
        <div class="progress-title">
          <label>Preostalo vreme: {{jigsaw_timeleft}} sekundi</label>
        </div>
        <div class="progress">
          <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"
          [ngStyle]="{width: jigsaw_timeleft+'%'}"></div>
        </div>
      </div>
      <div class="button-box">
        <input type="button" class="btn btn-success" (click)="onStartGame()" *ngIf="!jigsaw_started"
          value="Start">
        <input type="button" class="btn btn-danger" (click)="onJigsawEnd()" *ngIf="jigsaw_started"
          value="Kraj">
      </div>
    </div>
  </div>

</div>