<nav class="navbar navbar-default navbar-fixed-top navbar-shrink">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header page-scroll">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand page-scroll" href="/">Slaglica TV</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li class="hidden active">
          <a href="#page-top"></a>
        </li>
        <li class="">
          <a class="page-scroll" href="/">Početna</a>
        </li>
        <li class="">
          <a class="page-scroll" *ngIf="!is_loggedin" href="/login">Uloguj se</a>
        </li>
        <li class="">
          <a class="page-scroll" *ngIf="!is_loggedin" href="/register">Registracija</a>
        </li>
        <li class="">
          <a class="page-scroll" *ngIf="is_loggedin" href="/management">Menadžment</a>
        </li>
        <li class="">
          <a class="page-scroll" *ngIf="is_loggedin" href="/profile">Profil</a>
        </li>
        <li class="">
          <a class="page-scroll" *ngIf="is_loggedin" href="/game">Igre</a>
        </li>
        <li class="">
          <a class="page-scroll" *ngIf="is_loggedin" href="#" (click)="logout()">Izloguj se</a>
        </li>
      </ul>
    </div>

    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>
<header>
  <div class="container">
    <div class="intro-text">
      <a href="/login" *ngIf="!is_loggedin" class="page-scroll btn btn-xl">Uloguj se</a>
      <a href="/register" *ngIf="!is_loggedin" class="page-scroll btn twitterbtn">Registracija</a>
      <a href="#" *ngIf="is_loggedin" (click)="logout()" class="page-scroll btn btn-xl">Izloguj se</a>
    </div>
  </div>
</header>
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <span class="copyright">Copyright © Petar Jesic</span>
      </div>
      <div class="col-md-4">
        <ul class="list-inline social-buttons">
          <li><a href="#"><i class="fa fa-twitter"></i></a>
          </li>
          <li><a href="#"><i class="fa fa-facebook"></i></a>
          </li>
          <li><a href="#"><i class="fa fa-linkedin"></i></a>
          </li>
        </ul>
      </div>
      <div class="col-md-4">
        <ul class="list-inline quicklinks">
          <li><a href="#">Privacy Policy</a>
          </li>
          <li><a href="#">Terms of Use</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>