<nav class="navbar navbar-default navbar-fixed-top navbar-shrink">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header page-scroll">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand page-scroll" href="/">Slaglica TV</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li class="hidden active">
          <a href="#page-top"></a>
        </li>
        <li class="">
          <a class="page-scroll" href="/">Početna</a>
        </li>
        <li class="">
          <a class="page-scroll" *ngIf="!is_loggedin" href="/login">Uloguj se</a>
        </li>
        <li class="">
          <a class="page-scroll" *ngIf="!is_loggedin" href="/register">Registracija</a>
        </li>
        <li class="">
          <a class="page-scroll" *ngIf="is_loggedin" href="/management">Menadžment</a>
        </li>
        <li class="">
          <a class="page-scroll" *ngIf="is_loggedin" href="/profile">Profil</a>
        </li>
        <li class="">
          <a class="page-scroll" *ngIf="is_loggedin" href="/game">Igre</a>
        </li>
        <li class="">
          <a class="page-scroll" *ngIf="is_loggedin" href="#" (click)="logout()">Izloguj se</a>
        </li>
      </ul>
    </div>

    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>
<div class="section">
  <!-- Heading -->
  <div class="row text-center">
    <div class="container">
      <h2 class="section-heading">Moj Broj</h2>
    </div>
  </div>
  <!-- Heading -->

  <div class="panel panel-info">
    <div class="panel-body">
      <div class="description-box">
        <div class="col-sm-12">
          <div class="number-block">
            <label>Ciljani broj:</label>
            <input type="button" class="task-target-number" value="{{number.target_number}}">
          </div>
          <div class="number-block">
            <label>Koristeći brojeve:</label>
            <div class="tiles">
              <input type="button" class="task-using-number" value="{{number.using_number.first}}"
                (click)="onFirstNum()" [disabled]="!is_first_num">
              <input type="button" class="task-using-number" value="{{number.using_number.second}}"
                (click)="onSecondNum()" [disabled]="!is_second_num">
              <input type="button" class="task-using-number" value="{{number.using_number.third}}"
                (click)="onThirdNum()" [disabled]="!is_third_num">
              <input type="button" class="task-using-number" value="{{number.using_number.fourth}}"
                (click)="onFourthNum()" [disabled]="!is_fourth_num">
              <input type="button" class="task-using-number" value="{{number.using_number.fifth}}"
                (click)="onFifthNum()" [disabled]="!is_fifth_num">
              <input type="button" class="task-using-number" value="{{number.using_number.sixth}}"
                (click)="onSixthNum()" [disabled]="!is_sixth_num">
            </div>
          </div>
          <div class="number-block">
            <label>Operacije:</label>
            <div class="tiles operation">
              <input type="button" class="task-operation" value="{{number.operation.add}}"
                (click)="onAddNum()">
              <input type="button" class="task-operation" value="{{number.operation.minus}}"
                (click)="onMinusNum()">
              <input type="button" class="task-operation" value="{{number.operation.multiply}}"
                (click)="onMultiNum()">
              <input type="button" class="task-operation" value="{{number.operation.division}}"
                (click)="onDivideNum()">
              <input type="button" class="task-operation" value="{{number.operation.bracket_left}}"
                (click)="onLeftBracketNum()">
              <input type="button" class="task-operation" value="{{number.operation.bracket_right}}"
                (click)="onRightBracketNum()">
            </div>
          </div>
        </div>
      </div>
      <div class="play-box">
        <div class="answer-section">
          <label>Formula:</label>
          <div class="input-section">
            <input class="answer_puzzle" [(ngModel)]="number_answer" readonly>
            <input type="button" class="btn btn-danger" (click)="onClearFormula()"
              [disabled]="!number_started" value="Obriši unos">
          </div>
        </div>
        <div class="progress-title">
          <label>Preostalo vreme: {{number_timeleft}} sekundi</label>
        </div>
        <div class="progress">
          <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"
            [ngStyle]="{width: number_timeleft+'%'}"></div>
        </div>
      </div>
      <div class="button-box">
        <input type="button" class="btn btn-success" (click)="onNumberStart()" *ngIf="!number_started"
          value="Start">
        <input type="button" class="btn btn-danger" (click)="onNumberEnd()" *ngIf="number_started"
          value="Kraj">
      </div>
    </div>
  </div>
</div>