<nav class="navbar navbar-default navbar-fixed-top navbar-shrink">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header page-scroll">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand page-scroll" href="/">Slaglica TV</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li class="hidden active">
          <a href="#page-top"></a>
        </li>
        <li class="">
          <a class="page-scroll" href="/">Početna</a>
        </li>
        <li class="">
          <a class="page-scroll" *ngIf="!is_loggedin" href="/login">Uloguj se</a>
        </li>
        <li class="">
          <a class="page-scroll" *ngIf="!is_loggedin" href="/register">Registracija</a>
        </li>
        <li class="">
          <a class="page-scroll" *ngIf="is_loggedin" href="/management">Menadžment</a>
        </li>
        <li class="">
          <a class="page-scroll" *ngIf="is_loggedin" href="/profile">Profil</a>
        </li>
        <li class="">
          <a class="page-scroll" *ngIf="is_loggedin" href="/game">Igre</a>
        </li>
        <li class="">
          <a class="page-scroll" *ngIf="is_loggedin" href="#" (click)="logout()">Izloguj se</a>
        </li>
      </ul>
    </div>

    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>
<div class="section">
  <!-- Heading -->
  <div class="row text-center">
    <div class="container">
      <h2 class="section-heading">Logovanje</h2>
      <h3 class="section-subheading text-muted">Molimo vas unesite podatke za login.</h3>
    </div>
  </div>
  <!-- Heading -->

  <!-- Main Section -->
  <section id="contact">
    <!-- Start of Container -->
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3 col-xs-12 col-xs-offset-0">
          <form [formGroup]="loginform" role="form" (ngSubmit)="onLoggedin(loginform.value)">
            <div class="form-group">
              <label for="username">Email</label>
              <input class="form-control" type="email" name="email" placeholder="Email address" value="" no-margin
                formControlName="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" required />
              <div *ngIf="loginform.controls['email'].errors?.required && loginform.controls['email'].touched" class="text-danger">Email is required</div>
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input class="form-control" type="password" name="password" placeholder="Password" no-margin
                formControlName="password" minlength="8" required />
              <div *ngIf="loginform.controls['password'].errors?.required && loginform.controls['password'].touched" class="text-danger">Password is required</div>
            </div>
            <div class="form-group btn-group">
              <button type="submit" class="btn btn-login">Login</button>
              <a [routerLink]="['/register']" class="btn btn-register">Register</a>
            </div>
          </form>
        </div>
      </div>

      <br>

    </div>
    <!-- End of Container -->
  </section>
  <!-- Main Section /-->
</div>