<nav class="navbar navbar-default navbar-fixed-top navbar-shrink">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header page-scroll">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand page-scroll" href="/">Slaglica TV</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li class="hidden active">
          <a href="#page-top"></a>
        </li>
        <li class="">
          <a class="page-scroll" href="/">Početna</a>
        </li>
        <li class="">
          <a class="page-scroll" *ngIf="!is_loggedin" href="/login">Uloguj se</a>
        </li>
        <li class="">
          <a class="page-scroll" *ngIf="!is_loggedin" href="/register">Registracija</a>
        </li>
        <li class="">
          <a class="page-scroll" *ngIf="is_loggedin" href="/management">Menadžment</a>
        </li>
        <li class="">
          <a class="page-scroll" *ngIf="is_loggedin" href="/profile">Profil</a>
        </li>
        <li class="">
          <a class="page-scroll" *ngIf="is_loggedin" href="/game">Igre</a>
        </li>
        <li class="">
          <a class="page-scroll" *ngIf="is_loggedin" href="#" (click)="logout()">Izloguj se</a>
        </li>
      </ul>
    </div>

    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>
<div class="section">

  <div class="col-sm-3 col-sm-offset-2 col-xs-12 col-xs-offset-0 ng-scope">
    <button type="button" class="blue_button btn btn-link" (click)="createGame()">Kreiraj Partiju</button>
    <button type="button" class="blue_button btn btn-link" (click)="joinGame()">Prijavi se na Partiju</button>
    <button type="button" class="blue_button btn btn-link" (click)="gameDay()">Igra Dana</button>
  </div>
  <div class="col-sm-7 col-xs-12 col-xs-offset-0">
    <div class="panel panel-info">

      <!-- Default panel contents -->
      <div class="panel-heading" style="text-align: center;"><strong>Najbolji takmičari za danas</strong></div>

      <!-- Table -->
      <table class="table">
        <tr>
          <td><strong>ID</strong></td>
          <td><strong>Korisničko Ime</strong></td>
          <td><strong>Ostvareni Rezultat</strong></td>
        </tr>
        <tr *ngFor="let result of results | orderBy: score">
          <td>{{ result.id }}</td>
          <td>{{ result.username }}</td>
          <td>{{ result.score}}</td>
        </tr>
      </table>
    </div>
  </div>

</div>